/* Remove margin and padding on everything */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(0, 146, 0); /* Set background colour to green */
}

#wrapper {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#dealerArea {
	position: relative;
	width: 854px;
	height: 96px;

	background-color: #939393;
}