@font-face {
	font-family: "Quicksand";
	src: ("../fonts/quicksand.ttf");
}
@font-face {
	font-family: "Josefin";
	src: ("../fonts/josefin.ttf");
}

/* Remove margin and padding on everything */
* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../images/bg.png') no-repeat center center fixed;
	background-size: cover;
}

#rulesWrapper {
	position: absolute;
	left: 20px;
	top: 20px;
}
#rulesHeader {
	width: 240px;
	height: 40px;

	background-color: black;
	color: white;

	text-align: center;
	vertical-align: middle;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

	cursor: pointer;
}
#arrow {
	position: absolute;
	width: 30px;
	right: 10px;
	top: 10px;
	transition: all 0.4s ease;
}
.down {
	transform: rotateX(180deg);
}
#innerHeader {
	top: 3px;
	position: relative;
	font-size: 30px;
	font-family: 'Quicksand', sans-serif;
}
#rulesContent {
	display: none;
	padding: 5px;
	color: lightGray;
	width: 230px;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: 'Josefin', sans-serif;
	font-size: 15px;
}

#deck {
	position: absolute;
	top: 20px;
}

#hand {
	position: relative;

	vertical-align: middle;
	margin-top: 300px;

	margin-left: auto;
	margin-right: auto;
	width: 106px;
	height: 106px;

	border: 5px solid white;
	border-radius: 100%;
}