/* Importing custom fonts */
@font-face {
	font-family: "Quicksand";
	src: ("../fonts/quicksand.ttf");
}
@font-face {
	font-family: "Josefin";
	src: ("../fonts/josefin.ttf");
}
@font-face {
	font-family: "built";
	src: ("../fonts/built_titling.ttf");
}

/* Targetting everything in the page */
* {
	margin: 0;
	padding: 0;
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    cursor: url("../images/cursor.png") 8 7, auto;
}

/* The document body */
body {
	background: url('../images/bg.png') no-repeat center center fixed;
	background-size: cover;
}

/* The rules wrapper */
#rulesWrapper {
	position: absolute;
	left: 160px;
	top: 20px;
}
/* The rules header */
#rulesHeader {
	width: 240px;
	height: 40px;

	background-color: black;
	color: white;

	text-align: center;
	vertical-align: middle;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

	cursor: pointer;
}
/* The arrow on the rules header */
#arrow {
	position: absolute;
	width: 30px;
	right: 10px;
	top: 10px;
	transition: all 0.8s ease;
}
/* Class that gets toggled, flipping the arrow */
.down {
	transform: rotateX(180deg);
}
#innerHeader {
	top: 3px;
	position: relative;
	font-size: 30px;
	font-family: 'Quicksand', sans-serif;
}
#rulesContent {
	display: none;
	padding: 5px;
	color: lightGray;
	width: 230px;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: 'Josefin', sans-serif;
	font-size: 15px;
}

/* Player hand circle */
#hand {
	position: absolute;
	left: 625px;
	top: 300px;

	width: 106px;
	height: 106px;

	border: 5px solid white;
	border-radius: 100%;
}

/* The deck image */
#deck {
	position: absolute;
	top: 20px;
	left: 944px;

	width: 72px;
	height: 96px;

	box-shadow: 2px -2px 10px black;

	background-image: url("../images/cards/b2fv.png");

	text-align: center;
}
/* Inner number for deck */
#deckInner {
	position: relative;
	font-family: 'Quicksand', sans-serif;
	font-weight: 900;
	font-size: 40px;
	top: 18px;
	color: white;
	-webkit-text-stroke: 2px blue;
}
#handVal {
	position: absolute;
	top: 20px;
	left: 1034px;

	font-size: 20px;

	color: white;

	text-align: center;
}
#handValOutput {
	font-size: 65px;
}

/* The wrapper for the cards in the dealers hand */
.dealerHand {
	position: absolute;
	top: 20px;
	left: 944px;

	width: 72px;
	height: 96px;

	box-shadow: 2px -2px 5px black;

	display: none;

	z-index: 999;
}

/* The Stand and Hit Button Classes */
.button {
	position: absolute;
	top: 160px;

	background-color: #66cc91;

	border-width: 5px;
	border-style: dashed;
	border-color: yellow;
	border-radius: 50px;

	font-family: 'Bowlby One SC', cursive;
	font-size: 35px;

	color: white;

	width: 160px;
	height: 80px;

	text-align: center;

	cursor: pointer;

	display: none;
}
/* Change the border when the button is hovered over */
.button:hover {
	border-style: dotted;
}
/* The text inside the stand and hit buttons */
.innerButton {
	position: relative;
	background: -webkit-linear-gradient(#FFFFFF, #BFBFBF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	top: 10px;
}
/* The hit button */
#hitButton {
	font-size: 40px;
	left: 450px;
}
/* The stand button */
#standButton {
	font-size: 40px;
	left: 750px;
}

/* The logo and my name, in the middle */
#logo {
	position: relative;
	left: 512px;
	top: 165px;

	width: 360px;

	font-size: 30px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	color: white;
}